<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Service Name</key>
			<string>PROMT Translator</string>
			<key>Title</key>
			<string>PROMT Translator</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.promt.promtagenteep</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<string>http://www.promt.com/translation_software/mac/</string>
			<key>Name</key>
			<string>PromtAgentEEP</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://github.com/nikolalek</string>
			<key>Name</key>
			<string>Aleksey Nikolaev</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Translate using PROMT</string>
		<key>ru</key>
		<string>Перевести с помощью PROMT</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.nikolalek.popclip.extension.promttranslator</string>
	<key>Extension Name</key>
	<string>PROMT Translator</string>
</dict>
</plist>
