<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>icon.png</string>
			<key>Service Name</key>
			<string>PROMT Translator</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>PROMT Agent</string>
				<key>ru</key>
				<string>PROMT Агент</string>
			</dict>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Bundle Identifier</key>
			<string>com.promt.promtagent</string>
			<key>Check Installed</key>
			<true/>
			<key>Link</key>
			<dict>
				<key>en</key>
				<string>https://itunes.apple.com/us/app/promt-agent/id917131656?mt=12</string>
				<key>ru</key>
				<string>https://itunes.apple.com/ru/app/promt-agent/id917131656?mt=12</string>
			</dict>
			<key>Name</key>
			<string>PROMT Agent</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Email</key>
			<string>nikolalek@me.com</string>
			<key>Name</key>
			<string>Aleksey Nikolaev</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Translate using PROMT Agent</string>
		<key>ru</key>
		<string>Перевести с помощью PROMT Агент</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.promtagent</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>PROMT Agent</string>
		<key>ru</key>
		<string>PROMT Агент</string>
	</dict>
</dict>
</plist>
